 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Tilt+Prism&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
.container1{
    border:1px solid black;
    width:500px;
    height:350px;
    background-color:gray;
    padding:20px;
    text-align:center;
    filter:drop-shadow(0 0 0.5rem black);
    margin:auto;
    margin-top:10%;
}
.main_heading{
    font-weight:bold;
    font-size:30px;
    font-family: 'Tilt Prism', cursive;
    margin-top:0;
}
.btn{
    text-align:center;
    margin-top:30px;
}
.btn1{
    background-color:blueviolet;
    margin-right:100px;
    border-radius:20px;
    border-width:0px;
    color:white;
    height:30px;
    width:90px;
}
.btn2{
    background-color: black;
   border-radius:20px;
   border-width:0px;
    color:white;
    height:30px;
    width:90px;

}

.num_box{
    width:200px;
    border:2px black solid;
    margin-top: 14px;
    height:30px;
    text-align:center;
    border-radius: 10px;
}
.note{
    color:crimson;
    font-weight:bold;
    font-size:18px;
    text-align: left;
    margin-left:38px;
    font-family:'Times New Roman', Times, serif;
}
.guess{
    font-weight: 300;
    font-size: 23px;
    margin-top:25px;
    font-family: sans-serif;
    color:white;
    font-family: 'Dancing Script', cursive;

}
label{
    font-size:19px;
    margin-top: 14px;
}
.result{
    text-align:left;
    margin-left:90px;
    font-size:15px;
}
#para_id{
    font-size:20px;
    font-weight:bold;
    margin-left:10px;
    
}